.about{
    width: 80%;
   
  height: 90vh;
    margin: auto;
  
    text-align: center;
    background-color: white !important;
    border-radius: 30px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.me{
    
    height: auto;
margin-left: 20%;

   

  
    color: red;
   
}