.contact{
    width: 80%;
    height: 90vh;
    margin: auto;
    border-radius: 30px;
    background-color: white !important;
    text-align: center;
     box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; 
    
}
/* .contactme{
    margin-top: 50px;
    text-align: center;
} */
/* .{

} */
.hoverEPL {
    display: inline-block;
    position: relative;
    color: #2F8C8B;
  }
  
  .hoverEPL:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hoverEPL:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }