.Skills {
    width: 80%;
    height: 100vh;
       margin: auto;
    text-align: center;
    background-color: #EAF2FA;
   
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
}

.Skills>div {
    width: 100%;
    height: 45%;
    margin: auto;
}

.Skills>div:nth-child(2) {
    margin-top: 3%;
}

.fbs {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 3%;
   }

.fbs>div {
    width: 90%;
    height: 100%;
    background-color: white !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.fbs>div:hover
{
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}.sos{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 3%;
   }
.sos>div {
    width: 90%;
    height: 100%;
    background-color: white !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.sos>div:hover{
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}
.reactIS{
    margin-left: 30%;
    margin-right: 2%;
    
}
/* .skillstwo{
    display: flex;
    justify-content: center;
    align-items: center;
} */